// Variables
$primary-color: #71C7C4
$secondary-color: #c63b3f
$darkgray: #303841
$lightgray: #cccccc
$gray: darken(#889AA5, 10%)

$baseline-px: 16px

// Mixins
=wrapper
  @extend .container

=flex
  display: -webkit-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

=align-items ($str)
  -webkit-flex-align: ($str)
  -ms-flex-align: ($str)
  -webkit-align-items: ($str)
  align-items: ($str)

=transition ($str)
  -webkit-transition: ($str)
  -moz-transition: ($str)
  transition: ($str)

=rem($property, $px-values)
  $baseline-rem: $baseline-px / 1rem
  #{$property}: $px-values
  @if type-of($px-values) == "number"
    #{$property}: $px-values / $baseline-rem
  @else
    $rem-values: ()
    @each $value in $px-values
      @if $value == 0 or type-of( $value ) != "number"
        $rem-values: append($rem-values, $value)
      @else
        $rem-values: append($rem-values, $value / $baseline-rem)
    #{$property}: $rem-values

=clearfix
  *zoom: 1
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both

=border-radius ($str)
  -webkit-border-radius: ($str)
  -moz-border-radius: ($str)
  -ms-border-radius: ($str)
  -o-border-radius: ($str)
  border-radius: ($str)

// Global
*
  +rem('letter-spacing', 1px)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none
  box-sizing: border-box

body
  +rem('font-size', 16px)
  +rem('line-height', 26px)
  color: $gray
  font:
    family: 'Oxygen', sans-serif
    weight: 300

a
  +transition(all 0.3s)
  color: $primary-color
  font-weight: 400
  text-decoration: none
  &:hover
    color: $secondary-color
    text-decoration: none
