.breadcrumbs
  .breadcrumb__item
    = link_to 'Home'
  .breadcrumb__item
    &#47;
  .breadcrumb__item
    = link_to 'Bikes'
  .breadcrumb__item
    &#47;
  .breadcrumb__item.breadcrumb__item--last
    = link_to 'Mountain'
