.breadcrumbs
  text-align: center
  padding: 30px 0

.breadcrumb__item
  display: inline-block
  color: $primary-color
  a
    font:
      weight: 700
    text-transform: uppercase

.breadcrumb__item--last
  a
    color: $darkgray
    pointer-events: none
