.main-nav
  +rem('min-height', 147px)
  +rem('padding', 20px 0 0 0)
  +rem('font-size', 18px)
  background-color: $primary-color
  position: relative
  +clearfix
  a
    color: white
    text-transform: uppercase
    &:hover
      color: $secondary-color
  header
    position: relative
  .main-nav__info
    +rem('top', 20px)
    +rem('left', 20px)
    position: absolute
    color: white
  .main-nav__logo
    +rem('width', 120px)
    margin: 0 auto
    img
      +rem('width', 120px)
  .main-nav__content
    +rem('padding', 20px 0)
    text-align: center
  .main-nav__item
    +rem('margin', 0 40px)
  .main-nav__cart
    +rem('top', 20px)
    +rem('right', 20px)
    position: absolute
    color: white
    font:
      weight: 700
  .main-nav__search
    +rem('bottom', 20px)
    +rem('right', 20px)
    position: absolute
