.product-detail
  display: flex
  justify-content: space-between
  // padding: 0 60px

.product-detail__details, .product-detail__photos
  margin: 0 30px
  max-width: 600px

.product-detail__photos
  img
    width: 100%

.product-detail__details--sticky
  position: fixed
  top: 0
  z-index: 10000
  left: 50%
